<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Регистрация</title>
</head>
<body>
<header class="fixed top-0 left-0 right-0 h-16 bg-sky-500 flex items-center justify-center">
    <div class="container mx-auto">
        <h1 class="text-white text-base font-inter font-normal">МояОбъява.RU</h1>
    </div>
</header>

<div class="mt-48 text-center">
    <h2 class="text-sky-500 text-base font-inter font-semibold">Регистрация</h2>
    <div class="mt-12 space-y-4">
        <div class="w-[400px] mx-auto flex flex-col items-start">
            <input class="w-[400px]  h-12 border border-sky-500 outline-0" type="email" id="email" name="email">
            <label class="block text-sky-500 text-base font-inter font-italic" for="email">E-mail</label>
        </div>
        <div class="w-[400px] mx-auto flex flex-col items-start">
            <input class="w-[400px]  h-12 border border-sky-500 outline-0" type="tel" id="phone" name="phone">
            <label class="block text-sky-500 text-base font-inter font-italic" for="phone">Телефон</label>
        </div>
        <div class="w-[400px] mx-auto flex flex-col items-start outline-0">
            <input class="w-[400px]  h-12 border border-sky-500" type="text" id="fio" name="fio">
            <label class="block text-sky-500 text-base font-inter font-italic" for="fio">ФИО</label>
        </div>
        <div class="w-[400px] mx-auto flex flex-col items-start outline-0">
            <input class="w-[400px]  h-12 border border-sky-500" type="password" id="password" name="password">
            <label class="block text-sky-500 text-base font-inter font-italic" for="password">Пароль</label>
        </div>
        <div class="w-[400px] mx-auto flex flex-col items-start outline-0">
            <input class="w-[400px]  h-12 border border-sky-500" type="password" id="confirmPass" name="confirmPass">
            <label class="block text-sky-500 text-base font-inter font-italic" for="confirmPass">Подтверждение пароля</label>
        </div>
    </div>
    <div class="mt-8 space-y-4 flex flex-col items-center">
        <button class="w-52 h-10 bg-sky-500 border rounded-md border-sky-500 text-white text-base font-inter font-semibold">Войти</button>
        <button class="w-52 h-10 bg-sky-500 border rounded-md border-sky-500 text-white text-base font-inter font-semibold">Зарегистрироваться</button>
    </div>
</div>
</body>
</html>