* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Gochi";
    src: url("fonts/GochiHand-Regular.ttf");
}

@font-face {
    font-family: "Anebock";
    src: url("fonts/anebock.ttf");
}

body {
    background: url("../img/backgrounds/background1.jpg");
    background-size: 100%
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background: rgb(38, 44, 56);
    background: linear-gradient(90deg, rgb(68 73 85) 0%, rgb(133 103 121) 10%, rgb(153 138 124) 19%, rgb(122 141 126) 28%, rgb(126 135 137) 35%, rgb(55 87 111) 44%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    z-index: 1;
}

.header_nav {
    display: flex;
    width: 70%;
    justify-content: end;
    align-items: center;
}

.header_logo {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.header_logo_img {
    width: 55px;
}

.header_link {
    font-family: "Anebock", sans-serif;
    font-size: 30px;
    color: #274358;
    margin-left: 5px;
}

.header_logo:hover {
    transform: translate(2px, -2px);
    transition-duration: 0.5s
}

.header_text {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
}

.header_a {
    color: #274358;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: none;
    box-shadow: 0 0 25px rgba(8, 7, 16, 0.6);
    background-color: rgb(119 173 216);
}

.header_a:hover {
    background-color: rgb(201 229 253);
}

.header_a:active {

    background-color: #efe5e7;
    transform: translateY(2px);
}

.container_login_header {
    width: 800px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
    display: flex;
}

.container_productList-header {
    width: 800px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.content_login {
    /*width: 100vw;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_reg {
    /*width: 100vw;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-height: 556px) {
    .content_login {
        height: 500px;
        margin-top: 30px;
    }
}

@media (max-height: 800px) {
    .content_reg {
        height: 500px;
        margin-top: 167px;
    }
}

.content_product {
    max-width: 800px;
    position: relative;
    top: 100px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.content_product_add {
    max-width: 800px;
    position: relative;
    top: 50px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
}

.content_add_button {
    position: relative;
    top: 40px;
    padding-bottom: 20px;
    max-width: 800px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
    display: flex;
}

.content_text {
    color: #284459;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.login_block {
    width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


.login_block_add {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    width: 95%;
}

.input_box {
    width: 100%;
}

.input_block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_password_block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.input {
    width: 97%;
    height: 48px;
    border: 1px solid #c6d5db;
    outline: none;
    padding-left: 2%;
    margin-top: 21px;
    border-radius: 7px;
}

.input_label {
    display: block;
    color: #284459;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding-top: 5px;
}

.button_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 208px;
    height: 40px;
    background: #284459;
    border: 1px solid #284459;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 21px;
    cursor: pointer;
}

.button:hover {
    background: #4c5b72;
    border: 1px solid #4c5b72;
}

.button:active {
    border: 1px solid #976e76;
    background-color: #976e76;
    transform: translateY(2px);
}

/* Стили для блока с изображением товара */
.product_block {
    display: flex;
    align-items: start;
    min-height: 200px;
    width: 95%;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(8, 7, 16, 0.6);
}

.product_block_add {
    display: flex;
    align-items: start;
    min-height: 200px;
    width: 95%;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(8, 7, 16, 0.6);
}

.product-box_add {
    display: flex;
}

.product_img-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    flex-grow: 3;
}

.product_img-box_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.product_img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
}

.product_button {
    font-family: "Inter", sans-serif;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #284459;
    background: #284459;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.product_button:hover {
    border: 1px solid #4c5b72;
    background: #4c5b72;
}

.product_button:active {
    background-color: #976e76;
    border: 1px solid #976e76;
    transform: translateY(2px);
}


.product_button_my_ads {
    font-family: "Inter", sans-serif;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #284459;
    background: #284459;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}


.product_button_my_ads:hover {
    border: 1px solid #4c5b72;
    background: #4c5b72;
}

.product_button_my_ads:active {
    background-color: #976e76;
    border: 1px solid #976e76;
    transform: translateY(2px);
}



.user_phone_class {
    display: none;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.product_description-box {
    width: 80%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    flex-grow: 7;
    padding-right: 10px;
}


.product_description-box_add {
    width: 80%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 10px;
}

.product_name-description-box {
    padding-top: 20px;
}

.product_name {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #274358;
}

.product_description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    align-self: start;
    color: #274358;
    text-align: justify;
}

.user_name {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #274358;
}

.product_price {
    margin-top: 16px;
    width: 18%;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-self: start;
    color: #274358;
    flex-grow: 1;
    white-space: nowrap;
}


.button_add-box {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 50px 0 0 0;
}

.product_right_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product_top_block {
    display: flex;
    justify-content: space-between;
}

.product_bottom_block {
    align-self: end;
    display: flex;
    justify-content: space-between;
}

.content_add-ads {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_ads_block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_ads_label {
    color: #284459;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px;
}

.input_ads {
    width: 98%;
    height: 48px;
    outline: none;
    padding-left: 2%;
    border: 1px solid #c6d5db;
    border-radius: 10px;
    color: #284459;
    font-size: 17px;
}

.input_ads_description {
    width: 98%;
    height: 153px;
    border: 1px solid #c6d5db;
    border-radius: 10px;
    outline: none;
    padding-left: 2%;
    padding-top: 5px;
    color: #284459;
    font-size: 16px;
}

.upload_img-box {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.upload_button_box {
    margin-left: 20px;
}

.upload_button {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid #284459;
    border-radius: 10px;
    background: #284459;
    cursor: pointer;
    margin-left: 20px;
}

.upload_button:hover {
    border: 1px solid #4c5b72;
    background: #4c5b72;
}

.upload_button:active {
    border: 1px solid #976e76;
    background-color: #976e76;
    transform: translateY(2px);
}

.upload_button_input {
    display: none;
}

.upload_img_file {
    width: 85%;
    height: 85%;
    background-color: #fff;
}

.upload_img_file_add {
    width: 100%;
    height: 100%;

}

.password {
    position: relative;
}

#password-input {
    width: 100%;
    padding: 5px 0;
    height: 30px;
    line-height: 40px;
    text-indent: 10px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 18px;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/logo/view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(../img/logo/no_view.svg) 0 0 no-repeat;
}

.edit_productName {
    font-family: "Inter", sans-serif;
    height: 31px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    width: 98%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    padding-left: 2%;
    color: #284459;

}

.edit_description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    text-align: justify;
    width: 98%;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    padding-left: 2%;
    color: #284459;
}

.edit_description_box {
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.edit_price {
    margin-top: 10px;
    width: 22%;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-self: start;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    color: #284459;
}

.change_img {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid #284459;
    background: #284459;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.change_img:hover {
    border: 1px solid #4c5b72;
    background: #4c5b72;
}

.change_img:active {
    border: 1px solid #976e76;
    background-color: #976e76;
    transform: translateY(2px);
}


.edit_product_bottom_block {
    align-self: end;
    display: flex;
    justify-content: end;
}

.edit_button {
    font-family: "Inter", sans-serif;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #284459;
    background: #284459;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.edit_button:hover {
    border: 1px solid #4c5b72;
    background: #4c5b72;
}

.edit_button:active {
    border: 1px solid #976e76;
    background-color: #976e76;
    transform: translateY(2px);
}

.viewHide {
    position: absolute;
    top: 34px;
    right: 35px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/logo/view.svg) 0 0 no-repeat;
    background-size: 100%;
}

.viewHide.view {
    background: url(../img/logo/no_view.svg) 0 0 no-repeat;
}

.viewHide_reg {
    position: absolute;
    top: 370px;
    right: 66px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/logo/view.svg) 0 0 no-repeat;
    background-size: 100%;
}

.viewHide_reg.view {
    background: url(../img/logo/no_view.svg) 0 0 no-repeat;
}

.viewHide_confirm {
    position: absolute;
    top: 465px;
    right: 66px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/logo/view.svg) 0 0 no-repeat;
    background-size: 100%;
}

.viewHide_confirm.view {
    background: url(../img/logo/no_view.svg) 0 0 no-repeat;
}

@media (max-width: 650px) {

    .header_nav {
        display: none;
    }


    .container_productList-header {
        display: flex;
        align-items: center;
    }


    .product_block {
        flex-direction: column;
        align-items: center;
    }

    .product_description-box {
        width: 98%;
        margin-left: 0;
    }

    .product_description-box_add {
        margin-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .product_top_block {
        flex-direction: column;
    }

    .product_block_add {
        flex-direction: column;
        align-items: center;
    }

    .product_price {
        display: flex;
        align-items: start;
    }

    .product_img-box {
        align-items: center;

    }

    .product_bottom_block {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }

    .edit_product_bottom_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .change_img {
        margin-right: 0;
    }

    .edit_price {
        margin-left: 4px;
    }

    .edit_button {
        margin-left: 0;
    }

    .product-box_add {
        flex-direction: column;
        align-self: center;
    }

    .upload_button {
        margin-left: 0;
        margin-top: 15px;
    }

    .upload_save_button {
        margin-top: 30px;
        align-self: center;
    }

    .login_block_add {
        margin-top: 114px;
    }
}



